p {
    margin: 1em;
}
/*
 * ─── HOMEPAGE ───────────────────────────────────────────────────────────────────
 */
 .ui.secondary.inverted.pointing.menu .item {
     cursor:pointer;
 }
.hero__img--container .hero__about {
    position: absolute;
    color: #FFF;
    padding: 50px 0 0 40px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 3em;
    line-height: 1em;
}
.hero__img--container .hero__name {
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 700;
    display: block;
    margin-bottom: 25px;
}
.hero__img--container .hero__titles {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .4em;
    line-height: 1.5em;
    text-transform: uppercase;
    display: block;
    max-width: 300px;
}
.hero__img--container .Typewriter .typewriter__name {
    font-size: 1.4em;
    line-height: 1.3em;
}
.layoutBackground {
    background-color: #ffffff;
    background-image: url("../images/subtle-grey.png");
}
.hero__img--container {
    max-width: 1400px;
    max-height: 770px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
#hero__img {
    background-image:
    linear-gradient(90deg, rgba(16,19,87,1) 0%, rgba(16,19,87,1) 30%, rgba(16,19,87,0) 25%),
    url('../images/homepage-hero.jpg');
    width: 130%;
    background-position: 0 -120px;
    height: 770px;
    background-size: cover;
    background-blend-mode: multiply;
}
.social__icons {
    color: #fbaf08;
}
.social__icons i.link.icon, i.link.icons {
    opacity: 1;
}
.social__icons:hover {
    color: #ffc61c;
}
.ui.stacked.segment.book-segment{
    min-height: 500px;
}
div.book__content{
    margin-top: -250px;
    margin-bottom: 50px;
}
.segmentHeaderTitle--black {
    font-size: 4em;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.ui.header.segmentHeaderTitle {
    font-size: 2em;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.segment__header {
    z-index: 1;
}
.bookBlurb {
    margin: 30px 1em;
}
.segment__blurb{
    font-size: 1.33em;
}
a.ui.label.segment__header {
    cursor: default;
    text-align: left;
    display: table;
}
a.ui.label.segment__header--padding-bottom {
    margin-bottom: 25px;
}
a.ui.label.segment__header--half {
    position: absolute;
    top: 0;
    margin-top: 25px;
}
.book__container .slick-prev:before, .book__container .slick-next:before {
    color: #000;
}
.book__container .slick-prev{
    left: 0;
}
.book__container .slick-next{
    right: 0;
}
.book {
    padding: 10px;
    margin: 0 auto;
    max-width: 200px;
    max-height: 300px;
    height: 100%;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    border: 1px solid rgba(34, 36, 38, 0.15);
}
.about__segment.ui.vertical.segment,.media__segment.ui.vertical.segment {
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    padding: 0;
}
.media__grid.ui[class*="internally celled"].grid {
    max-width: 1600px;
    margin: 0 auto;
}
.ui.centered.grid.logo__grid {
    margin: 0 auto;
    max-width: 800px;
}
.react-reveal > .ui.grid > .row > .column > img.logo  {
    max-width: 130px;
    margin: 0 auto;
    display: block;
}
.ui.celled.grid > .row > .column.phil__hero-img-col {
    padding: 0;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.ui.celled.grid > .row > .column.phil__hero-img-col img {
    -webkit-transition: .3s; /* Safari prior 6.1 */
    transition: .3s;
}
.ui.celled.grid > .row > .column.phil__hero-img-col:hover img{
}
.ui.celled.grid > .row > .column.phil__hero-img-col:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/worn-dots.png") repeat top left;
    opacity: .8;
    mix-blend-mode: multiply;
    background-color: #101357;
    background-blend-mode: color-burn;
    -webkit-transition: .3s; /* Safari prior 6.1 */
    transition: .3s;
}
.about__segment .ui.celled.grid > .row > .column.phil__hero-img-col:after {
    opacity: .9;
}
.ui.celled.grid > .row > .column.phil__hero-img-col:hover:after{
    opacity: 0;
}
.ui.celled.grid > .row > .column.phil__hero-img-col:hover .overlay-text{
    color: #101357;
    mix-blend-mode: hard-light;
}
.phil__hero-img.ui.fluid.image {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.phil__segment-header {
}
.gallery-segment.ui.stacked.segment {
    margin: 2em 0;
}
.height100 {
    height: 100%;
}
.segment--table {
    display: table;
}
.ui.grid .segment__items--centered, .segment__items--centered {
    display: table-cell;
    vertical-align: middle;
}
.overlay-text{
    position: absolute;
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 5.5em;
    line-height: 1.2em;
    z-index: 1;
    margin: .2em;
    -webkit-transition: .3s; /* Safari prior 6.1 */
    transition: .3s;
    padding: 0 15px 0 25px;
}
.overlay-text--align-right {
    right: 0;
    text-align: right;
}
.overlay-text--awards{
    font-size: 1.2em;
    line-height: 1em;
    margin: 0;
    padding: 25px;
    width: 100%;
    color: #fff;
    text-align: left;
    height: 100%;
}
.overlay-text--awards .ui.list .list > .item > i.icon, .overlay-text--awards .ui.list > .item > i.icon {
    font-size: 1.3em;
    padding-top: 15px;
}
.about__segment > .ui.celled.grid > .row > .column.phil__hero-img-col {
    pointer-events: none;
}
.overlay-text--awards .ui.list .list > .item .header, .overlay-text--awards .ui.list > .item .header {
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: .8em;
}
.overlay-text--awards .ui.list .list > .item .description, .overlay-text--awards .ui.list > .item .description {
    color: #FFF;
    font-family: 'Lato', sans-serif;
}
.home__contact-form {
    padding: 100px 0;
}
/* ──────────────────────────────────────────────────────────────────────────────── */

/* Large devices (desktops, 992px and up) */
@media (max-width: 1200px) {
    #hero__img {
        height: 700px;
        background-image:
        linear-gradient(90deg, rgba(16,19,87,1) 0%, rgba(16,19,87,1) 35%, rgba(16,19,87,0) 25%),
        url('../images/homepage-hero.jpg');
    }
    .react-reveal > .ui.grid > .row > .column > img.logo {
        max-width: 100px;
    }
    .overlay-text {
        margin: 0;
        font-size: 5em;
        padding: 0 35px 0 25px;
    }
    .book__container .slick-prev{
        left: -20px;
    }
    .book__container .slick-next{
        right: -20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
    #hero__img {
        background-position: 0 -50px;
        height: 600px;
        padding: 30px;
        background-image:
        linear-gradient(90deg, rgba(16,19,87,1) 0%, rgba(16,19,87,1) 35%, rgba(16,19,87,0) 25%),
        url('../images/homepage-hero.jpg');
    }
    .hero__img--container .hero__about {
        font-size: 2.3em;
    }
    .overlay-text {
        font-size: 3em;
        padding: 30px 15px 0 25px;
    }
    .segment__blurb, .bookBlurb {
        font-size: 1em;
    }
    .ui.celled.grid > .row > .column.phil__hero-img-col {
        height: 500px;
    }
    .segment__blurb--about {
        padding-top: 75px;
    }
    .about__segment > .ui.celled.grid > .row > .column.phil__hero-img-col.segment__awards {
        margin-bottom: 1em;
    }
    a.ui.label.segment__header--half {
        position: relative;
        margin: 0 auto;
    }
    .segment__blurb {
        margin: 30px 15px;
    }
    .segment__blurb--about {
        padding-top: 0;
    }
    .ui.stacked.segment.segment--table {
        padding: 50px 0;
    }
    .segment--paradise {
        padding: 5px;
    }
    .book {
        margin: 0 5px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
    #hero__img {
        background-position: left;
        height: 600px;
        width: 100%;
        background-image: url('../images/homepage-hero.jpg');
    }
    .hero__img--container .hero__about {
        font-size: 2em;
        position: absolute;
        padding: 20px;
        background-color: #101357;
        margin: 0;
    }
    .hero__img--container .hero__titles {
        display: none;
    }
    .overlay-text br{
        display: none;
    }
    .overlay-text {
        writing-mode: vertical-lr;
        -webkit-writing-mode: vertical-lr;
        font-size: 2em;
        padding: 30px 10px;
    }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    #hero__img {
        background-position: center;
        height: 600px;
        width: 100%;
        background-image: url('../images/homepage-hero.jpg');
    }
    .hero__img--container .hero__about {
        font-size: 1em;
        position: absolute;
        padding: 10px;
        line-height: 0;
        background-color: #101357;
        margin: 0;
        mix-blend-mode: darken;
    }
    .hero__img--container .hero__titles {
        display: none;
    }
    .hero__img--container .hero__name {
        margin-bottom: 0;
    }
    .react-reveal > .ui.grid > .row > .column > img.logo {
        max-width: 100%;
    }
    .ui.stacked.segment.segment--table {
        padding: 5px;
    }
    .segment--table .ui.grid > .row > .column {
        padding: .7em;
    }
    .ui.celled.grid > .row > .segment__content.column {
        padding: 5px;
    }

    .segment__blurb .bookBlurb {
        font-size: .95em;
    }
    .overlay-text {
        font-size: 1.3em;
        padding: 30px 0;
    }
    .slick-slider {
        height: 320px;
    }
    .segments__items--about {
        padding: 35px 0;
    }
    .bookBlurb {
        margin: 10px;
    }
    .ui.container.book__content {
        margin-left: 5px!important;
        margin-right: 5px!important;
        margin-bottom: 5px;
    }
}