p {
    margin: 1em;
}
/*
 * ─── HOMEPAGE ───────────────────────────────────────────────────────────────────
 */
.hero__img--container .hero__about {
    position: absolute;
    color: #FFF;
    padding: 50px 0 0 40px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 3em;
    line-height: 1em;
}
.hero__img--container .hero__name {
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 700;
    display: block;
    margin-bottom: 25px;
}
.hero__img--container .hero__titles {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .4em;
    line-height: 1.5em;
    text-transform: uppercase;
    display: block;
    max-width: 300px;
}
.hero__img--container .Typewriter .typewriter__name {
    font-size: 1.4em;
    line-height: 1.3em;
}
.layoutBackground {
    background-color: #ffffff;
    background-image: url("../images/subtle-grey.png");
    margin-bottom: -40px;
}
.hero__img--container {
    max-width: 1400px;
    max-height: 770px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
#hero__img {
    background-image:
    linear-gradient(90deg, rgba(16,19,87,1) 0%, rgba(16,19,87,1) 30%, rgba(16,19,87,0) 25%),
    url('../images/homepage-hero.jpg');
    width: 130%;
    background-position: 0 -120px;
    height: 770px;
    background-size: cover;
    background-blend-mode: multiply;
}
.social__icons {
    color: #fbaf08;
}
.social__icons i.link.icon, i.link.icons {
    opacity: 1;
}
.social__icons:hover {
    color: #ffc61c;
}
.ui.stacked.segment.book-segment{
    min-height: 500px;
}
div.book__content{
    margin-top: -250px;
    margin-bottom: 50px;
}
.segmentHeaderTitle--black {
    font-size: 4em;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.ui.header.segmentHeaderTitle {
    font-size: 2em;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.segment__header {
    z-index: 1;
}
a.ui.label.segment__header {
    cursor: default;
    text-align: left;
    display: table;
}
a.ui.label.segment__header--padding-bottom {
    margin-bottom: 25px;
}
a.ui.label.segment__header--half {
    position: absolute;
    top: 0;
    margin-top: 25px;
}
.book__container .slick-prev:before, .book__container .slick-next:before {
    color: #000;
}
.book__container .slick-prev{
    left: 0;
}
.book__container .slick-next{
    right: 0;
}
.book {
    padding: 10px;
    margin: 0 auto;
    max-width: 200px;
    max-height: 300px;
    height: 100%;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    border: 1px solid rgba(34, 36, 38, 0.15);
}
.media__segment.ui.vertical.segment {
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    padding: 0;
}
.media__grid.ui[class*="internally celled"].grid {
    max-width: 1600px;
    margin: 0 auto;
}
.ui.centered.grid.logo__grid {
    margin: 0 auto;
    max-width: 800px;
}
.react-reveal > .ui.grid > .row > .column > img.logo  {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}
.ui.celled.grid > .row > .column.phil__hero-img-col {
    padding: 0;
    height: 600px;
    overflow: hidden;
    position: relative;
    cursor: default;
}
.ui.celled.grid > .row > .column.phil__hero-img-col:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/worn-dots.png") repeat top left;
    opacity: .8;
    mix-blend-mode: multiply;
    background-color: #101357;
    background-blend-mode: color-burn;
    -webkit-transition: .3s; /* Safari prior 6.1 */
    transition: .3s;
}
.ui.celled.grid > .row > .column.phil__hero-img-col:hover:after{
    opacity: 0;
}
.ui.celled.grid > .row > .column.phil__hero-img-col:hover .overlay-text{
    color: #101357;
    mix-blend-mode: hard-light;
}
.phil__hero-img.ui.fluid.image {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.phil__segment-header {
}
.gallery-segment.ui.stacked.segment {
    margin: 2em 0;
}
.height100 {
    height: 100%;
}
.segment--table {
    display: table;
}
.segment__items--centered {
    display: table-cell;
    vertical-align: middle;
}
.overlay-text{
    position: absolute;
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 7em;
    line-height: 1.2em;
    z-index: 1;
    margin: .2em;
    -webkit-transition: .3s; /* Safari prior 6.1 */
    transition: .3s;
    padding: 0 15px 0 25px;
}
.overlay-text--align-right {
    right: 0;
    text-align: right;
}
/* ──────────────────────────────────────────────────────────────────────────────── */
